.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1;
}

.App-link {
  color: #61dafb;
}

.boatifier {
  padding: 15px 30px 15px 30px;
  border-radius: 4px;
  border-style: solid;
  border-color: #61dafb;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  position: absolute;
  z-index: 3;
  top: 20px;
  left: 20px;
}

.boat-counter {
  position: absolute;
  top: 10px;
  right: 50px;
}

.canvas {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0;
}

button:active {
  background-color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
